<section class="hero">
	<h1>Easy image placeholder service</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h2>
	<button mat-raised-button (click)="handleClick()">Generate Now</button>
</section>


<div class="container-fluid">

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">using placeimage.app</h2>
		<article>
			<div>
				Specify the image width and height <div class="placeimage-url-highlight">https://via.placeimage.app/{{"{width}"}}x{{"{height}"}}</div> and that's it
			</div>
			<div>
				Your image url should look like this https://via.placeimage.app/150x150
			</div>
			<div class="mt-5">
				<img src="https://via.placeimage.app/150x150">
			</div>
		</article>
	</div>
</section>

<section class="section specify-size row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">width and height</h2>
		<article>
			<div>
				You have to specify width first. Height is optional. In absence of height image will be in square.				
			</div>
			<div>
				<div class="placeimage-url-highlight">https://via.placeimage.app/150</div> will produce an image of size 150x150
			</div>
			<div class="mt-5">
				<img src="https://via.placeimage.app/150">
			</div>
		</article>
	</div>
</section>

<section class="section image-format row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">image format</h2>
		<article>
			<div>
				You can have image in 4 different format [ jpg, png, gif and wepb ]. 
				Just add available extension after image size.
				<div class="placeimage-url-highlight">https://via.placeimage.app/300.jpg</div> will have a resulting image in jpg format
			</div>
			<div class="mt-5">
			<div class="row d-flex justify-content-center">
				<div class="col mb-4"> 
					<img src="https://via.placeimage.app/100" class="img-fluid mb-2">
					<div style="color: #B8B8B8; text-transform: uppercase; font-size: 14px;">Jpg</div>
				</div>
				<div class="col mb-4">
					<img src="https://via.placeimage.app/100" class="img-fluid mb-2">
					<div style="color: #B8B8B8; text-transform: uppercase; font-size: 14px;">Png</div>
				</div>
				<div class="col mb-4">
					<img src="https://via.placeimage.app/100" class="img-fluid mb-2">
					<div style="color: #B8B8B8; text-transform: uppercase; font-size: 14px;">Gif</div>
				</div>
				<div class="col mb-4">
					<img src="https://via.placeimage.app/100" class="img-fluid mb-2">
					<div style="color: #B8B8B8; text-transform: uppercase; font-size: 14px;">Wepb</div>
				</div>
			</div>
			</div>
		</article>
	</div>
</section>

<section class="section background-text-color row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">custom text</h2>
		<article>
			<div>
				adding text to placeimage is very easy and straight forward, just follow the given example: <div class="placeimage-url-highlight">https://via.placeimage.app/300x100?text=custom text</div>
			</div>
			<div class="mt-5 row d-flex justify-content-center">
				<div class="col"> 
					<img src="https://via.placeimage.app/300x100?text=custom text">
				</div>
			</div>
		</article>
	</div>
</section>

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">background and font color</h2>
		<article>
			<div>
				easily customize background and font color by using url in the format below
				<br>
				<div class="placeimage-url-highlight">https://via.placeimage.app/{{"{background}"}}/{{"{foreground}"}}/150</div>
				<br>
				<div class="placeimage-url-highlight">https://via.placeimage.app/{{"{background}"}}/{{"{foreground}"}}/150?text=customtext</div>
			</div>
			<div class="mt-5 row d-flex justify-content-center">
				<div class="col"> 
					<img src="https://via.placeimage.app/150/993333/ffff">
				</div>
			</div>
		</article>
	</div>
</section>

</div>

<footer style="padding: 20px; background-color: #fff; border-top: 1px solid #f0f0f0;">
	<div class="container">
		© 2019 Placeimage.app - Created with <img src="assets/angular.png" style="height: 14px; margin-right: 5px;"> <img src="assets/laravel.png" style="height: 14px"> by Ashish Poudel
	</div>
</footer>