<section class="hero">
	<h1>Easy image placeholder service</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</h2>
	<button mat-raised-button (click)="handleClick()">Generate Now</button>
</section>


<div class="container">

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">Using placeimage.app</h2>
		<article>
			<div>
				Just specify the image size after our URL (https://placeimage.app/) and you’ll get a placeholder image. So the image URL should look this:-
			</div>
			<div>
				https://placeimage.app/300x300.png
			</div>
		</article>
	</div>
</section>

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">About placeimage.app</h2>
		<article>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
		</article>
	</div>
</section>

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">About placeimage.app</h2>
		<article>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
		</article>
	</div>
</section>

<section class="section intro row">
	<div class="col-md-8 offset-md-2">
		<h2 class="title">About placeimage.app</h2>
		<article>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
		</article>
	</div>
</section>

</div>