
.hero {
	padding: 70px 0px;
	background-color: #363636;
	text-align: center;
}

.hero h1 {
	font-size: 42px;
	color: #fff;
	margin-bottom: 15px;
}

.hero h2 {
	font-size: 15px;
	color: rgba(245, 245, 245, 0.9);
	margin-bottom: 40px;
}

.section {
	padding: 75px 0;
	text-align: center;
	background: #fff;
}

.section .title::after {
	content: "\00a0";
	display: block;
	width: 8%;
	height: 2px;
	background: #ccc;
	margin-top: 15px;
	margin: 30px auto;
}

section.specify-size, section.background-text-color {
	background-color: #f2f2f2;
}

.placeimage-url-highlight {
	background: #f2f2f2; 
	border-radius: 4px; 
	padding: 2px 8px; 
	display: inline;
	border: 1px solid #fff;
}